
    <mat-card-content>
      <div class="flash">
        <div *ngIf="!check; else elseBlock">
          <div class="word">{{flashcard?.Word1}}</div>
          <div class="example">{{flashcard?.Example1}}</div>
        </div>
        <ng-template #elseBlock>
          <div class="word">{{flashcard?.Word2}}</div>
          <div class="example">{{flashcard?.Example2}}</div>
        </ng-template>
      </div>
    </mat-card-content>
    <div class="center">
      <mat-card-actions>
        <button mat-raised-button (click)="onCheck()">Check</button>
      </mat-card-actions>
    </div>


