 <div class="bar">
  <mat-chip class="logged" color="accent" selected><mat-icon style="margin-right: 20px; margin-left: 10px">home</mat-icon>{{welcome}}</mat-chip>
  <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
    <mat-chip color="primary" selected routerLink="user"><mat-icon style="margin-right: 20px; margin-left: 10px">perm_identity</mat-icon>My profile</mat-chip>
    <mat-chip color="primary" selected><mat-icon style="margin-right: 20px; margin-left: 10px">calendar_today</mat-icon>Progress</mat-chip>
    <mat-chip color="primary" selected routerLink="tests/user/{{user}}"><mat-icon style="margin-right: 20px; margin-left: 10px">bookmark_border</mat-icon>My tests</mat-chip>
    <mat-chip color="primary" selected><mat-icon style="margin-right: 20px; margin-left: 10px">favorite_border</mat-icon>Favorites</mat-chip>
    <mat-chip color="primary" selected routerLink="tests/add"><mat-icon style="margin-right: 20px; margin-left: 10px">library_add</mat-icon>Add test</mat-chip>
    <mat-chip color="primary" selected><mat-icon style="margin-right: 20px; margin-left: 10px">group_work</mat-icon>Courses</mat-chip>
    <mat-chip color="primary" selected><mat-icon style="margin-right: 20px; margin-left: 10px">report</mat-icon>Report</mat-chip>
  </mat-chip-list>
</div>

