
.my-card {
  width: 100%
}

.grid1 {
  background-color: #F4EDB2;
}

.grid2 {
  background-color: #F2F8FD;
}

  .grid2 mat-accordion {
    height: 300px
  }

.grid2 p {
    font-size: medium
}

.grid3 {
  background-color: #FF756B;
}
