<div class="main-card">
  <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>WELCOME TO LINGI</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <mat-card class="grid1" style="height: 80%;width: 90%">
            <mat-card-title>RECOMMENDED</mat-card-title>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
          <mat-card class="grid2" style="height: 90%;width: 90%">
            <mat-card-header>
              <mat-card-title>NOTAFICATIONS</mat-card-title>
              </mat-card-header>
                <mat-accordion class="acc">
                  <mat-expansion-panel expanded>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Tests
                      </mat-panel-title>
                      <mat-panel-description>
                        Your progress advices
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>
                      Todays portion of tests is waiting for you
                      <button mat-raised-button color="primary"
                              matBadge="3" matBadgePosition="before" matBadgeColor="accent">
                        Solve
                      </button>
                    </p>
                    <p>
                      Check new vocabulary and make progress
                      <button mat-raised-button color="accent">
                        Check
                      </button>
                    </p>
                    <p>
                      Nice! Your yesterday progress was impressive
                      <button mat-raised-button color="warn"
                              matBadge="6" matBadgePosition="before" matBadgeColor="accent">
                        Share
                      </button>
                    </p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Courses
                      </mat-panel-title>
                      <mat-panel-description>
                        Notafications from your courses
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <p>
                      You have unsolved tests from your course
                      <button mat-raised-button color="primary"
                              matBadge="5" matBadgePosition="before" matBadgeColor="accent">
                        Solve
                      </button>
                    </p>
                    <p>
                      <span matBadge="5" matBadgeOverlap="false" matBadgeColor="accent">
                        Notafications from course groups
                      </span>
                    </p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Others
                      </mat-panel-title>
                      <mat-panel-description>
                        Look over here
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <p>
                      You have unsolved tests from your course
                      <button mat-raised-button color="primary"
                              matBadge="5" matBadgePosition="before" matBadgeColor="accent">
                        Solve
                      </button>
                    </p>
                    <p>
                      <span matBadge="5" matBadgeOverlap="false" matBadgeColor="accent">
                        Notafications from course groups
                      </span>
                    </p>
                  </mat-expansion-panel>
                </mat-accordion>
</mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="grid3" style="height: 80%;width: 90%">
            <mat-card-title>ANNOUNCEMENTS</mat-card-title>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
