.my-form {
  min-width: 150px;
  max-width: 500px;
}

.full-width {
  width: 100%;
}

.deleteButton{
  min-width: 3%;
  max-width: 4%;
  border:1px solid white;
}

.deleteButton:hover{
  border: 1px solid purple;
}

.inputWord{
  float:left;
}

.saveButton{
  background-color:#673ab7;
  color:#fff;
}