<mat-toolbar class="md-tall" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>wb_incandescent</mat-icon>
    </button>
    <h1 style="font-size: larger">Lingi</h1>
    <span style="flex: 1 1 auto;"></span>
    <span style="font-size: small; padding-left: 10px">The best way to polish your languages...</span>
    <span style="flex: 1 1 auto;"></span>
    <div>
      <a mat-button routerLink="login"> Login </a>
      <a mat-button routerLink="tests"> Tests </a>
      <a mat-button routerLink="tests/add"> Add Test </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
