<mat-toolbar class="md-tall mainToolbar"  color="primary">
  <mat-toolbar-row>
    <button routerLink="/home" mat-icon-button>
      <mat-icon >wb_incandescent</mat-icon>
    </button>
    <h1 routerLink="/home" style="font-size: larger; cursor: pointer; outline : none;">Lingi</h1>
    <span style="flex: 1 1 auto;"></span>
    <span style="font-size: small; padding-left: 10px">The best way to polish your languages...</span>
    <span style="flex: 1 1 auto;"></span>
    <div>
      <a mat-button routerLink="home"> Home </a>
      <a mat-button routerLink="tests"> Browse tests </a>
      <a *ngIf="!this.auth.isLoggedIn()" mat-button routerLink="login"> Sign in </a>
      <a *ngIf="!this.auth.isLoggedIn()" mat-button routerLink="register"> Register </a>
      <a *ngIf="this.auth.isLoggedIn()" mat-button (click)="this.auth.logout()" routerLink="home"> Sign out </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
