<form class="my-form" *ngIf="!addingWordPanel">
  <mat-form-field class="full-width">
    <input matInput placeholder="Keywords" value="Sushi" name="flashcardKeywords" [(ngModel)]="flashcardKeywords"/>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Leave a description" name="flashcardDescription" [(ngModel)]="flashcardDescription"></textarea>
  </mat-form-field>

  <button class="full-width" mat-raised-button (click)="showAddingWordPanel()">Add words!</button>
</form>

<div *ngIf="addingWordPanel">
  <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>Adding words to new FlashCard</mat-card-title>
    </mat-card-header>
    <mat-card-content class="full-width">
        <div *ngFor="let item of words; let i=index">
        <mat-form-field>
            <input matInput value="item_{{i}}" id="input_id_{{i}}" placeholder="#{{i}}" />
        </mat-form-field>
        <mat-form-field>
            <input matInput value="item_translated_{{i}}" id="input_translated_id_{{i}}" placeholder="Translated word" />
        </mat-form-field>
      </div>
      <button mat-button (click)="hideAddingWordPanel()">Back</button> 
      <button mat-button (click)="addNewWord()">Add more</button>
      <button mat-button (click)="deleteWord()">Delete</button>
    </mat-card-content>   
  </mat-card>
</div>